*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

img {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

// Reduced animations for users who prefer reduced motion.
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main {
  @include tablet-down {
    padding-top: 10rem;
  }
}

.header {
  @include tablet-down {
    position: absolute;
    width: 100%;
  }
}