*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  display: inline-block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

// Reduced animations for users who prefer reduced motion.
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, $main-body-background-top, $main-body-background-bottom 95%);

  @include mobile {
    padding-top: 8rem;
  }

  @include tablet {
    padding-top: 7.5625rem;
  }
}

.header {
  z-index: 10;

  @include tablet-down {
    position: absolute;
    width: 100%;
  }
}
