// Media query vars & mixins.
$mobile-max-width: 767px;
$tablet-max-width: 1023px;

@mixin mobile {
  @media only screen and (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$mobile-max-width + 1px}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media only screen and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: #{$mobile-max-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$tablet-max-width + 1px}) {
    @content;
  }
}

// Global vars.
:root {
  --default-spacing: 0.75rem;
  --container-width: 100%;

  @include tablet {
    --default-spacing: 1rem;
  }

  @include desktop {
    --default-spacing: 1.25rem;
    --container-width: 92.5rem; // 1480px
  }
}

// Colors.
$header-top-background: #1d1d1b;
$header-nav-background: #ffffff;
$logo-background: #d8d8d8;
$main-body-background-top: #ececec;
$main-body-background-bottom: #ffffff;
$social-background: #f1f1f1;
$footer-background: #000000;
$main-button-background: #222336;
$size-selector-button-background: #ffffff;
$size-selector-button-background-active: #1d1d1b;
$nyhet-label-background: #000000;
$kampanj-label-background: #2c2f3e;

$text-black: #000000;
$text-white: #ffffff;
$sale-price: #d21212;

$footer-element-divider: #555555;
