// Media query vars & mixins.
$mobile-max-width: 767px;
$tablet-max-width: 1023px;

@mixin mobile {
  @media only screen and (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$mobile-max-width + 1px}) and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin tablet-down {
  @media only screen and (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin tablet-up {
  @media only screen and (min-width: #{$mobile-max-width + 1px}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$tablet-max-width + 1px}) {
    @content;
  }
}

// Global vars.
:root {
  --default-spacing: 0.75rem;
  --container-width: 100%;

  @include tablet {
    --default-spacing: 1rem;
  }

  @include desktop {
    --default-spacing: 1.25rem;
    --container-width: 92.5rem; // 1480px
  }
}

// Colors.
$white: #ffffff;
$black: #000000;
$dark-gray-default: #1d1d1b;
$medium-gray-default: #555555;
$light-gray-default: #999;
$dark-blue: #2c2f3e;
