.additional-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto 1.5rem auto;
  padding: 0 var(--default-spacing);

  & a,
  & a:visited {
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: letter-spacing 0.3s ease;

    & img {
      width: 1rem;
      height: 1rem;
      margin-left: 0.75rem;

      @include desktop {
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    &:hover {
      letter-spacing: 1.15px;
    }
  }

  & span {
    @include mobile {
      display: none;
    }
  }

  & a,
  & a:visited,
  & span {
    font-size: 1.125rem;
    text-transform: uppercase;
    color: $black;
    letter-spacing: 1px;

    @include desktop {
      font-size: 1.25rem;
    }
  }

  @include mobile {
    justify-content: center;
  }

  @include desktop {
    margin-bottom: 2.5rem;
  }
}
