.social-menu {
  background-color: #f1f1f1;
  margin-top: auto;
}

.social-menu__inner {
  display: flex;
  flex-direction: column;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 2.5rem var(--default-spacing);
  gap: var(--default-spacing);

  @include tablet-up {
    flex-direction: row;
  }

  @include desktop {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}

.social-menu__link,
.social-menu__link:visited {
  flex: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  letter-spacing: 1.25px;
  color: $black;
  padding: var(--default-spacing);
  border: 2px solid $black;
  transition: all 0.2s ease;

  &:hover {
    background-color: #f9f9f9;
    letter-spacing: 1.5px;
  }

  @include desktop {
    font-size: 1.125rem;
  }
}